.card{
    background-color: aqua;
    border: 18px solid rgb(254, 227, 24);
    border-radius: 15px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

.whole{
    border: 18px solid rgb(254, 227, 24);
    border-radius: 15px;
    background-color: white;
    text-decoration: none;
}

.image{
    border: 5px solid rgb(241, 237, 228);
    margin: 10px;
    border-radius: 0px 0px 15px 15px;
}